Nome: Surreal Construções e Reformas
Descrição: É um sistema crm para cadastrar obras.
Responsividade: Desktop
Cor principal: #FFCC00
Cor secundaria: Black
Logo preta: https://gukpisxmjvmfukxhkmrt.supabase.co/storage/v1/object/public/project/logo_black.png

---
## MCP SUPABASE

- Não faça nada, apenas visualize as informações, eu crio tudo manualmente.

---

## Frontend

- Separe as páginas e componentes em pastas do modulo no projeto.]

---